.contenedor-registro{
    background-color: #0056b3;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    background-image: url("/assets/fondos/fondo-ayuda.jpg");
    background-size: cover;
}

.formulario-pago {

    margin: 100px auto;
    background-color: #ffffffb2;
    padding: 20px;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 400px;
}

.formulario-pago h1{
    width: 100%;
    text-align: center;
}

.campo {
    margin-bottom: 20px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2d065d;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.hidden {
    display: none;
}